/* You can add global styles to this file, and also import other style files */
@import "assets/scss/material-theme";
@import "assets/scss/partials/classes";
@import "assets/scss/partials/variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui;
  letter-spacing: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * { box-sizing: border-box; }
}
