:root {
  --sphere-perspective: 10000px;
  --animation-duration: 16s;
}

.sphere {
  position: relative;
  user-select: none;
  perspective: var(--sphere-perspective);
  transform-style: preserve-3d;
  will-change: transform;
  transform: translate3d(0,0,0);

  &.rotate {
    animation: spin var(--animation-duration) linear infinite;
  }

  .point {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
}

@keyframes spin {
  from { transform: rotateY(0deg) rotateZ(0deg); }
  to { transform: rotateY(360deg) rotateZ(360deg); }
}