<div class="card">
  @if (loading()) {
    <mat-progress-bar class="loading-bar" mode="indeterminate" />
  }

  <h2 class="title">We'll help you reset it</h2>

  <p class="description">
    Don't worry, it happens! Enter your email address below and we'll send
    you a link to reset your password.
  </p>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email address</mat-label>

    <input matInput id="email" type="email" name="email"
           autocomplete="email" formControlName="email" />
  </mat-form-field>

  <button mat-flat-button color="primary" class="fab-btn-padding"
          type="submit" [disabled]="loading()">Reset password</button>

  <button mat-stroked-button class="fab-btn-padding" type="button"
          [disabled]="loading()" (click)="googleLogin()">
    <span class="flex-row align-items-center app-gap">
      <img class="mat-icon" ngSrc="assets/svgs/google-superg.svg"
           alt="Image of Google Icon with a white background"
           width="40" height="40" />
      Continue with Google
    </span>
  </button>

  <div class="text-center">
    <p>
      Remember your password?
      <a mat-button color="accent" [routerLink]="[appRoutes.signIn]"
         [disabled]="loading()">Sign in</a>
    </p>

    <p>
      Don't have an account?
      <a mat-button color="accent" [routerLink]="[appRoutes.signUp]"
         [disabled]="loading()">Sign up</a>
    </p>
  </div>
</form>
</div>
