// https://v17.material.angular.io/guide/material-3#using-component-color-variants
// https://material.angular.io/guide/theming-your-components
@use 'sass:map';
@use '@angular/material' as mat;

@mixin componentThemeMixins($theme) {}

@mixin color($theme) {
  $has-base: mat.theme-has($theme, base);
  $has-color: mat.theme-has($theme, color);
  $has-typography: mat.theme-has($theme, typography);
  $has-density: mat.theme-has($theme, density);
  $theme-type: mat.get-theme-type($theme);

  anon-sign-up {
    .card {
      border-color: mat.get-theme-color($theme, outline);
    }
    .description {
      color: mat.get-theme-color($theme, on-surface-variant);
    }
    form.profile .photo {
      background-color: mat.get-theme-color($theme, primary, 100);
      border-color: mat.get-theme-color($theme, secondary, 80);
    }
  }
}

@mixin typography($theme) {
  anon-sign-up {
    h1.title {
      font: mat.get-theme-typography($theme, headline-large);
      margin: 0;
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) { @include color($theme); }

  @if mat.theme-has($theme, typography) { @include typography($theme); }

  @include componentThemeMixins($theme);
}

