<form class="card" [formGroup]="signUpForm">
  @if (loading()) {
    <mat-progress-bar class="loading-bar" mode="indeterminate" color="accent" />
  }

  <anon-sign-up-stepper class="w-100" [linear]="true"
                        [selectedIndex]="selectedStep()"
                        [(loading)]="loading"
                        (agreementsCompleted)="onAgreementsCompleted()"
                        (profileCompleted)="onProfileCompleted()">
    <!-- Email Address -->
    <cdk-step label="Enter Email Address" [stepControl]="emailCtrl">
      <h1 class="title">Sign up</h1>

      <p class="description">Enter your details to continue</p>

      <mat-form-field [appearance]="matFormFieldAppearance">
        <mat-label>Email Address</mat-label>

        <input matInput name="email" type="email"
               autocomplete="username email"
               placeholder="Enter your email address"
               [formControl]="emailCtrl" />
      </mat-form-field>
    </cdk-step>

    <!-- Password -->
    <cdk-step label="Create Password" [stepControl]="passwordCtrl">
      <h1 class="title">Create password</h1>

      <p class="description">
        Your password must be 8 characters long and contain at least
        one letter, one digit, and one special character.
      </p>

      <mat-form-field [appearance]="matFormFieldAppearance">
        <mat-label>Password</mat-label>

        <input matInput name="password" formControlName="password"
               minlength="8" autocomplete="new-password"
               placeholder="Enter your password"
               [type]="showPassword() ? 'text' : 'password'"
               [attr.aria-label]="'Show Password'"
               [attr.aria-pressed]="showPassword()" />

        <button mat-icon-button matIconSuffix type="button"
                (click)="showPassword.set(!showPassword())">
          <mat-icon [fontIcon]="showPassword() ? 'visibility_off' : 'visibility'" />
        </button>
      </mat-form-field>

      <div class="requirements">
        <div class="require-letter">
          <mat-icon [fontIcon]="passwordHasCharacters() ? 'check_circle' : 'cancel'"
                    [class]="passwordHasCharacters() ? 'primary-icon' : 'error-icon'" />

          <span>Has 1 letter</span>
        </div>

        <div class="require-digit">
          <mat-icon [fontIcon]="passwordHasDigit() ? 'check_circle' : 'cancel'"
                    [class]="passwordHasDigit() ? 'primary-icon' : 'error-icon'" />

          <span>Has 1 digit</span>
        </div>

        <div class="require-special-character">
          <mat-icon [fontIcon]="passwordHasSpecialCharacter() ? 'check_circle' : 'cancel'"
                [class]="passwordHasSpecialCharacter() ? 'primary-icon' : 'error-icon'" />

          <span>Has 1 special character</span>
        </div>

        <div class="require-min-length">
          <mat-icon [fontIcon]="passwordCtrl.errors?.['minLength'] ? 'cancel' : 'check_circle'"
                [class]="passwordCtrl.errors?.['minLength'] ? 'error-icon' : 'primary-icon'" />

          <span>Has at least {{ passwordMinLength() }} characters</span>
        </div>
      </div>
    </cdk-step>

    <!-- Confirm Password -->
    <cdk-step label="Confirm Password" [stepControl]="confirmPasswordCtrl">
      <h1 class="title">Confirm password</h1>

      <p class="description">Enter your password again</p>

      <mat-form-field [appearance]="matFormFieldAppearance">
        <mat-label>Confirm Password</mat-label>

        <input matInput name="confirmPassword" minlength="8"
               autocomplete="new-password"
               formControlName="confirmPassword"
               placeholder="Enter your password again"
               [type]="showConfirmPassword() ? 'text' : 'password'"
               [attr.aria-label]="'Show Confirm Password'"
               [attr.aria-pressed]="showConfirmPassword()" />

        <button mat-icon-button matIconSuffix type="button"
                (click)="showConfirmPassword.set(!showConfirmPassword())">
          <mat-icon [fontIcon]="showConfirmPassword() ? 'visibility_off' : 'visibility'" />
        </button>
      </mat-form-field>

      <div class="requirements">
        <div class="passwords-match">
          <mat-icon [fontIcon]="confirmPasswordCtrl.valid ? 'check_circle' : 'cancel'"
                    [class]="confirmPasswordCtrl.valid ? 'primary-icon' : 'error-icon'" />

          <span>Passwords match</span>
        </div>
      </div>
    </cdk-step>

    <!-- Agreements -->
    <cdk-step label="Agreements" [stepControl]="agreementsCtrl">
      <form class="agreements" [formGroup]="agreementsCtrl">
        <h1 class="title">Terms and Conditions</h1>

        <p class="description">
          These terms and conditions outline the rules and
          regulations for the use of {{ companyName }}'s website,
          located at {{ domain }}.<br/>

          <br/>

          By accessing this website we assume you accept these
          terms and conditions. Do not continue to use
          {{ companyName }} if you do not agree to take all of the
          terms and conditions stated on this page.
        </p>

        <mat-checkbox formControlName="termsConditions">
          I agree to Terms and Conditions
        </mat-checkbox>


        <mat-checkbox formControlName="privacyPolicy">
          I agree to Privacy Policy
        </mat-checkbox>
      </form>
    </cdk-step>

    <!-- Profile -->
    <cdk-step label="Profile" [stepControl]="profileCtrl">
      <form class="profile" [formGroup]="profileCtrl">
        <h1 class="title">Fill in your profile</h1>

        <input #photoInput type="file" name="photo"
               accept="image/*" autocomplete="photo" class="photo-input"
               [multiple]="false" (change)="onPhotoUpload($event)" />

        <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
        <picture class="photo"
                 [ngStyle]="{'background-image': photo ? 'url(' + photo + ')' : null}">
          @if (!photo) {
            <mat-icon class="icon" fontIcon="account_circle"
                      color="primary" [@userPhotoAnimation] />
          }

          <button mat-mini-fab type="button" color="primary"
                  class="add-btn" [matMenuTriggerFor]="addPhotoMenu">
            <mat-icon fontIcon="add" />
          </button>
        </picture>

        <div class="name-container">
          <mat-form-field [appearance]="matFormFieldAppearance">
            <mat-label>First Name</mat-label>

            <input matInput name="firstName" type="text"
                   autocomplete="given-name"
                   formControlName="firstName" />
          </mat-form-field>

          <mat-form-field [appearance]="matFormFieldAppearance">
            <mat-label>Last Name</mat-label>

            <input matInput name="lastName" type="text"
                   autocomplete="family-name"
                   formControlName="lastName" />
          </mat-form-field>
        </div>

        <mat-form-field [appearance]="matFormFieldAppearance">
          <mat-label>Username</mat-label>

          <input matInput name="username" type="text"
                 autocomplete="nickname"
                 formControlName="username"
                 (change)="setUsername($event)" />
        </mat-form-field>
      </form>
    </cdk-step>
  </anon-sign-up-stepper>
</form>


<ng-template #showIcon>
  <mat-icon class="icon" fontIcon="account_circle" color="primary" />
</ng-template>

<mat-menu #addPhotoMenu="matMenu">
  <button mat-menu-item type="button" (click)="selectAvatar()">
    <mat-icon fontIcon="photo" />

    <span>Select avatar</span>
  </button>

  <button mat-menu-item type="button" (click)="photoInput.click()">
    <mat-icon fontIcon="upload" />

    <span>Upload photo</span>
  </button>

  @if (photo) {
    <button mat-menu-item type="button" (click)="clearPhoto()">
      <mat-icon fontIcon="clear" />

      <span>Clear photo</span>
    </button>
  }
</mat-menu>
