:host {
  max-width: 1200px;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  padding-top: calc(var(--padding)  / 4);

  .avatar {
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;

    &.selected {
      outline-width: calc(var(--border-radius) / 4);
      outline-style: solid;
    }
  }
}
