// Material Design palette tool: https://material.io/design/color/the-color-system.html#tools-for-picking-colors

:root {
  /* contrast colors pulled from @angular/material/core/theming/_palette.scss */
  --dark-primary-text: rgba(black, 0.07);
  --light-primary-text: white;

  --primary-color: #002040;
  --secondary-color: #DDC179;
  --teritary-color: #829E84;
  --neutral-color: #919092;
}

$anonymous-systems-palette: (
        primary: (
                0: #000000,
                10: #001c39,
                20: #00315d,
                25: #003c70,
                30: #004883,
                35: #005397,
                40: #1a60a5,
                50: #3c79c0,
                60: #5993dc,
                70: #75aef8,
                80: #a4c9ff,
                90: #d4e3ff,
                95: #ebf1ff,
                98: #f8f9ff,
                99: #fdfcff,
                100: #ffffff,
        ),
        secondary: (
                0: #000000,
                10: #241a00,
                20: #3d2e00,
                25: #4b3900,
                30: #584400,
                35: #664f00,
                40: #755b00,
                50: #937300,
                60: #b18c0e,
                70: #cea62e,
                80: #ecc248,
                90: #ffe08f,
                95: #ffefce,
                98: #fff8f1,
                99: #fffbff,
                100: #ffffff,
        ),
        tertiary: (
                0: #000000,
                10: #00210b,
                20: #003917,
                25: #00461e,
                30: #005225,
                35: #00602c,
                40: #0e6d35,
                50: #31874b,
                60: #4da163,
                70: #68bd7b,
                80: #83d995,
                90: #9ff6af,
                95: #c4ffcb,
                98: #eaffe9,
                99: #f5fff2,
                100: #ffffff,
        ),
        neutral: (
                0: #000000,
                4: #000b17,
                6: #001123,
                10: #001c3a,
                12: #002041,
                17: #002b54,
                20: #00315f,
                22: #003567,
                24: #003a6e,
                25: #003c72,
                30: #004786,
                35: #055399,
                40: #1f5fa6,
                50: #3f78c1,
                60: #5c92dc,
                70: #77adf9,
                80: #a5c8ff,
                87: #c6dbff,
                90: #d4e3ff,
                92: #dde9ff,
                94: #e6eeff,
                95: #ebf1ff,
                96: #f0f4ff,
                98: #f9f9ff,
                99: #fdfcff,
                100: #ffffff,
        ),
        neutral-variant: (
                0: #000000,
                10: #181c22,
                20: #2d3138,
                25: #383c43,
                30: #43474e,
                35: #4f535a,
                40: #5b5e66,
                50: #73777f,
                60: #8d9199,
                70: #a8abb4,
                80: #c3c6cf,
                90: #dfe2eb,
                95: #eef0fa,
                98: #f8f9ff,
                99: #fdfcff,
                100: #ffffff,
        ),
        error: (
                0: #000000,
                10: #410002,
                20: #690005,
                25: #7e0007,
                30: #93000a,
                35: #a80710,
                40: #ba1a1a,
                50: #de3730,
                60: #ff5449,
                70: #ff897d,
                80: #ffb4ab,
                90: #ffdad6,
                95: #ffedea,
                98: #fff8f7,
                99: #fffbff,
                100: #ffffff,
        ),
);
