// https://v17.material.angular.io/guide/material-3#using-component-color-variants
// https://material.angular.io/guide/theming-your-components
@use 'sass:map';
@use '@angular/material' as mat;

@mixin componentThemeMixins($theme) {}

@mixin color($theme) {
  $has-base: mat.theme-has($theme, base);
  $has-color: mat.theme-has($theme, color);
  $has-typography: mat.theme-has($theme, typography);
  $has-density: mat.theme-has($theme, density);
  $theme-type: mat.get-theme-type($theme);

  anon-home {
    $picture-background-color: mat.get-theme-color($theme, primary);
    $card-background-color: mat.get-theme-color($theme, surface-variant);
    $border-color: mat.get-theme-color($theme, outline-variant);

    /* Topics Section */

    /* Smart Solutions Section */
    /* Cost Effective Section */
    section.smart-solutions picture,
    section.cost-effective-solutions picture {
      background-color: $picture-background-color;
    }

    /* Services Section */
    section.services {
      background-color: $card-background-color;

      picture {
        background-color: $picture-background-color;
      }
    }

    /* Steps Section */
    section.steps {
      background-color: $card-background-color;

      picture {
        background-color: $picture-background-color;
      }

      .step:not(:last-of-type) {
        border-bottom-color: $border-color;
      }
    }

    /* Testimonials Section */
    section.testimonials .testimonial {
      background-color: rgba(mat.get-theme-color($theme, primary, 70), 0.25);
    }

    /* Get Started Section */
    section.get-started {
      background-color: $card-background-color;

      picture {
        background-color: $picture-background-color;
      }
    }
  }
}

@mixin typography($theme) {
  anon-home {
    h1 { font: mat.get-theme-typography($theme, headline-small); }

    h2 { font: mat.get-theme-typography($theme, title-large); }

    h3 { font: mat.get-theme-typography($theme, title-medium); }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) { @include color($theme); }

  @if mat.theme-has($theme, typography) { @include typography($theme); }

  @include componentThemeMixins($theme);
}

