<section class="hero">
    <anon-shared-three-d-sphere />

    <h1 class="text-align-center">Expert Consulting Services for Technology</h1>

    <p>Get in touch with our team of experts for professional consulting services.</p>

    <button mat-raised-button type="button">
        <mat-icon fontIcon="today" />

        <span>Schedule Consultation</span>
    </button>
</section>

<section class="topics">
    <h2 class="text-align-center">Explore Our Popular Topics</h2>

    <div class="chips-container">
        <button mat-icon-button type="button">
            <mat-icon fontIcon="chevron_left" />
        </button>

        <mat-chip-listbox class="chips" [selectable]="false">
            <mat-chip-option class="chip">Angular</mat-chip-option>

            <mat-chip-option class="chip">Google</mat-chip-option>

            <mat-chip-option class="chip">Stripe</mat-chip-option>

            <mat-chip-option class="chip">Firebase</mat-chip-option>
        </mat-chip-listbox>

        <button mat-icon-button type="button">
            <mat-icon fontIcon="chevron_right" />
        </button>
    </div>
</section>

<section class="projects">
    <h2 class="text-align-center">Introducing {{companyName}}</h2>

    <p>Join our community and experience the benefits today!</p>

    <button mat-flat-button type="button" color="primary">
        <mat-icon fontIcon="mail" />

        <span>Contact Us</span>
    </button>

    <h1>Carousel here</h1>
</section>

<section class="smart-solutions">
    <h4>Smart Solutions</h4>

    <h2>All your tech needs in one place</h2>

    <p>
        We provide comprehensive technology consulting services, helping businesses leverage the
        latest advancements to drive growth and success. Our team of experts is dedicated to
        delivering tailored solutions that meet your unique requirements.
    </p>

    <button mat-stroked-button type="button" color="primary">Learn More</button>

    <picture></picture>
</section>

<section class="cost-effective-solutions">
    <h4>Cost-effective Solutions</h4>

    <h2>Achieve cost savings with {{companyName}}</h2>

    <p>
        Our cost-effective solutions are designed to optimize your business operations,
        reduce expenses, and maximize efficiency. With advanced analytics and industry
        expertise, we identify areas for improvement and implement strategies to streamline your processes.
    </p>

    <button mat-flat-button type="button" color="primary">
        <mat-icon fontIcon="mail" />

        <span>Contact Us</span>
    </button>

    <picture></picture>
</section>

<section class="services">
    <h4>Services</h4>

    <h2>Experience Excellence</h2>

    <p>
        Sign up for a free consultation and experience the excellence of our consulting services.
        Our experts will demonstrate how we can help your business thrive.
    </p>

    <button mat-raised-button type="button">
        <mat-icon fontIcon="today" />

        <span>Schedule Consultation</span>
    </button>

    <picture></picture>
</section>

<section class="steps">
    <h2>Discover the benefits of working with us</h2>

    <p>Unlock you business potential in just 3 steps.</p>

    <picture></picture>

    <div class="step">
        <h2>Step 1</h2>

        <p>Get in touch with us for a consultation.</p>
    </div>

    <div class="step">
        <h2>Step 2</h2>

        <p>Our experts with assess your needs and provide personalized recommendations.</p>
    </div>

    <div class="step">
        <h2>Step 3</h2>

        <p>Unlock your full potential with our optimized operations.</p>
    </div>

    <button mat-flat-button type="button" color="primary">Get Started</button>
</section>

<section class="testimonials">
    <h2>Testimonials</h2>

    <p>Clients Love Our Services</p>

    <div class="testimonial">
        <h4>Since partnering with {{companyName}}, our business has seen significant growth.</h4>

        <div class="rating">
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
        </div>

        <h4>Jane Smith</h4>

        <p>Lead Consultant, TechConsult</p>
    </div>

    <div class="testimonial">
        <h4>I recommend {{companyName}} to any business looking for improvement.</h4>

        <div class="rating">
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
        </div>

        <h4>John Dow</h4>

        <p>Product Manager</p>
    </div>

    <div class="testimonial">
        <h4>I can't imagine running our company without {{companyName}}.</h4>

        <div class="rating">
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
            <mat-icon fontIcon="person" />
        </div>

        <h4>Ben Clock</h4>

        <p>CTO, TechConsult</p>
    </div>
</section>

<section class="get-started">
    <h2>Get Started with a Free Consultation Today</h2>

    <p>Optimize Your Processes Now</p>

    <button mat-flat-button type="button" color="primary">Get Started</button>

    <picture></picture>
</section>
