:host, header, footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

header {
  gap: calc(var(--gap) * 1.25);

  .name {
    text-align: center;
  }
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: calc(var(--gap) / 2);
  width: 100%;

  .step {
    width: 50px;
    height: 6px;
    border-radius: calc(var(--border-radius) / 4);
    transition: all var(--emphasized-decelerate);
  }
}

.buttons-container {
  display: flex;
  gap: var(--gap);

  button {
    flex-grow: 1;
    min-height: 50px;
    padding: calc(var(--padding) * 0.75) var(--padding);
  }
}
