// https://v17.material.angular.io/guide/material-3#using-component-color-variants
// https://material.angular.io/guide/theming-your-components
@use 'sass:map';
@use '@angular/material' as mat;

@use './error/error-theme' as error;
@use './welcome/welcome-theme' as welcome;
@use './sign-up/sign-up-theme' as signUp;
@use './home/home-theme' as home;
@use './sign-in//sign-in-theme' as signIn;

@mixin componentThemeMixins($theme) {
  @include error.theme($theme);
  @include welcome.theme($theme);
  @include signUp.theme($theme);
  @include home.theme($theme);
  @include signIn.theme($theme);
}

@mixin color($theme) {
  $has-base: mat.theme-has($theme, base);
  $has-color: mat.theme-has($theme, color);
  $has-typography: mat.theme-has($theme, typography);
  $has-density: mat.theme-has($theme, density);
  $theme-type: mat.get-theme-type($theme);
}

@mixin typography($theme) {}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) { @include color($theme); }

  @if mat.theme-has($theme, typography) { @include typography($theme); }

  @include componentThemeMixins($theme);
}
